.rounded {
  border-radius: 18px !important; /* or whatever you prefer */
}

img.profile,
img[alt~="profile"],
img[src*="profile"] {
  max-width: 150px;
  height: auto;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.navbar-nav {
  justify-content: center;
}
.post-header .post-title {
  margin-bottom: 0.2em !important;
}

.desc {
  color: #a31f34; /* Or any hex/rgb value you want */
  font-size: 1em; /* Optional: adjust as you like */
  font-weight: 500; /* Optional for stronger text */
  margin-top: 0;         /* Remove/add space above subtitle */

}
